.size-img {
    display: inline-flex !important;
    height: 150px !important;
    width: 17em !important;
}
.bg-menu {
    background: linear-gradient(
        0deg,
        rgba(0, 123, 255, 0.6) 10%,
        transparent 90%
    );
    background: -o-linear-gradient(
        0deg,
        rgba(0, 123, 255, 0.6) 10%,
        transparent 90%
    );
    
}
.version-color {
    color: var(--orange);
    text-shadow: var(--gray-dark) 0.5px 0.5px 0.5px;
}
.expiration-color {
    color: var(--pdf);
    text-shadow: var(--gray-dark) 0.5px 0.5px 0.5px;
}
.flex-direction {
    display: flex;
}
.flex-justified {
    justify-content: center;
}
.marge-list {
    margin: 2% 5%;
}
.padding-config{
    padding: 3% 12%;
}
.btn-width{
    width: 150px;
}
a {
    padding: 1.5%;
    margin: 0.5%;
}
.icon1,
.icon2 {
    position: relative;
    margin-top: 20px;
}
.icon1::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 50px;
    background-color: var(--white);
    top: 48px;
    left: 250px;
    z-index: 1;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}
.icon2::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 50px;
    background-color: var(--white);
    top: 48px;
    left: -26px;
    z-index: 1;
    border-radius:80px;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    -ms-border-radius:80px;
    -o-border-radius:80px;
}
.login {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}
.margin-auto{
    margin: auto;
}
.offset-05{
    margin-left: 1%;
}
.bg-card-header{
    background: linear-gradient(75deg, transparent 2%, rgba(253,126,20,.3) 70%,transparent 100%),linear-gradient(75deg, rgba(0,123,255,.2) 2%,
    transparent 65%, rgba(0,123,255,.2) 95%);
}
.logout-final{
    position: fixed;
    z-index: 5;
    margin: -5px;
}
.logout-text-color{
    color: var(--green);
    text-shadow: var(--orange) 5rem;
    text-align: left;
}
.bg-nav-link{
    background: var(--green);
}
.left-modal{
    margin-left: 15px;
}
.top-modal{
    margin-top: 20px;
}
.text-justify{
    justify-content: center;
}
.btn-edit{
    border: 1px solid var(--blue);
    color: var(--blue);
}
.btn-delete{
    border: 1px solid var(--orange);
    color: var(--orange);
}
.nav-config-user{
    background: #bbca62;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.border-personalice{
    border-right: 2px double var(--orange);
}
#formlist{
    -moz-column-count:2;
    column-count:2;
    -moz-column-gap: 20%;
    column-gap: 20%;
    -moz-column-rule: 1px dashed var(--primary);
    column-rule: 1px dashed var(--primary);
}
.text-iva {
    color: var(--orange) !important;
}
a.text-iva:hover, a.text-iva:focus {
    color: var(--orange) !important;
}
@media (min-width: 1800px) {
    .modal-xl {
        max-width: 1240px;
    }
}
.image-pdf{
    float: left;
    margin-top: 3%;
    margin-left: 1%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.display-flex{
    float: right;
    margin-top: 6%;
    width: 400px;
    margin-right: 7%;
    color: #fe9a00;
    margin-bottom:-48px;
}
.myborder{
    padding-top: 3%;
    border: cadetblue solid 1.5px;
    height: 22% !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.labeltext{
    float: left;
    margin-top: -1.5%;
    margin-left: 3%;
    background-color: #fff;
    padding: auto 10%;
    padding-bottom: .9%;
    border: cadetblue solid 1.5px;
    border-radius: 45%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}
.myborder2{
    margin-top: 2.5%;
    padding-top: 3%;
    border: cadetblue solid 1.5px;
    height: 32% !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.labeltext2{
    float: left;
    margin-top: -1.5%;
    margin-left: 3%;
    background-color: #fff;
    padding: auto 7%;
    border: cadetblue solid 1.5px;
    border-radius: 45%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    -ms-border-radius: 45%;
    -o-border-radius: 45%;
}
.bg-primary-50 {
    color: #004085 !important;
    background-color: #b8daff !important;
}
.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 10px solid;
    border-color: #004085 #00422300;
    animation: 1.5s spin infinite;
    -webkit-animation: 1.5s spin infinite;
    margin-left: 50%;
    position: absolute;    
    display: none;
    margin-top: 10%;
    z-index: 10000;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
input[type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}  
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
input[type="password"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.inputWithIcon input[type="text"] {
    padding-left: 40px;
}
.emaIcon input[type="text"] {
    padding-left: 40px;
}
.passIcon input[type="password"] {
    padding-left: 40px;
}
.inputWithIcon {
    position: relative;
}
.emaIcon {
    position: relative;
}
.passIcon {
    position: relative;
}
.inputWithIcon span {
    position: absolute;
    left: 37.5%;
    top: 1px;
    padding: 7px 6px;
    color: #aaa;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.emaIcon span {
    position: absolute;
    left: 6%;
    top: 10px;
    padding: 7px 6px;
    color: #aaa;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.passIcon span {
    position: absolute;
    left: 6%;
    top: 15%;
    padding: 7px 6px;
    color: #aaa;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + span {
    color: dodgerBlue;
}
.emaIcon input[type="text"]:focus + span {
    color: dodgerBlue;
}
.passIcon input[type="password"]:focus + span {
    color: dodgerblue;
}
.inputWithIcon.inputIconBg span {
    background-color: #aaa;
    color: #fff;
    padding: 7px 6px;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}
.emaIcon.emaIconBg span {
    background-color: #aaa;
    color: #fff;
    padding: 9px 9px;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}
.passIcon.passIconBg span {
    background-color: #aaa;
    color: #fff;
    padding: 10px 10px;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}
.inputWithIcon.inputIconBg input[type="text"]:focus + span {
    color: #fff;
    background-color: dodgerBlue;
}
.emaIcon.emaIconBg input[type="text"]:focus + span {
    color: #fff;
    background-color: dodgerBlue;
}
.passIcon.passIconBg input[type="password"]:focus + span {
    color: #fff;
    background-color: dodgerblue;
}